<!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade container" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner rounded-5 shadow-4-strong">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="~/img/crs1.jpg" style="height: 80vh; width: 100%"
                 alt="Sunset Over the City" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Your mother told you all that I could give you was a reputation.</h5>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="~/img/crs2.jpg" style="height: 80vh; width: 100%"
                 alt="Canyon at Nigh" />
            <div class="carousel-caption d-none d-md-block">
                <h5>Manny, what are you doing working in auto parts?</h5>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <img src="~/img/crs3.jpg" style="height: 80vh; width: 100%"
                 alt="Cliff Above a Stormy Sea" />
            <div class="carousel-caption d-none d-md-block">
                <h5>I always feel the need to give the unfiltered truth, (or) what I think is the truth, at least.</h5>
            </div>
        </div>
    </div>
    <!-- Inner -->
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel wrapper -->