
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}

<meta http-equiv="refresh" content="3;url=/Shopping/" />

<div class="container d-flex flex-column align-items-center">
    <h1 class="fw-bold text-center text-danger my-3">Your cart can not be null! You need to add some products before proceeding to checkout</h1>
    <h4 class="text-center fst-italic">You will be back to home page in the moment</h4>
    <img src="~/img/emptycart.png" style="height: 400px; width: 500px; margin-top: 70px" />
</div>

