
@{
    ViewBag.Title = "PlaceOrderConfirmed";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}
<meta http-equiv="refresh" content="3;url=/Shopping/" />

<div class="container d-flex flex-column align-items-center">
    <h1 class="fw-bold text-center text-success my-3">Congratulations! Your Order Has Been Placed</h1>
    <h4 class="text-center fst-italic">You will be back to home page in the moment</h4>
    <img src="~/img/OrderConfirmed.png" style="height: 400px; width: 500px; margin-top: 70px"/>
</div>

