
@{
    ViewBag.Title = "PlaceOrderConfirmed";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}

<meta http-equiv="refresh" content="3;url=/Shopping/" />

<h2>Place Order Confirmed</h2>

<p class="text-center">You will be back to home page in the moment</p>

