
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<meta http-equiv="refresh" content="3;url=/admin/parts/" />

<div class="container">
    <h2 class="text-bold">Role Assigning Confirmed</h2>
    <h4 class="font-italic">The chosen acoount is now assigned as @ViewBag.Role</h4>
</div>