@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td style="padding-right: 50px; font-weight: bold">Enter role name to be created</td>
            <td>
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Create Role" class="btn btn-secondary mt-4"/>
}
