
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/LayoutUser2.cshtml";
}

<meta http-equiv="refresh" content="3;url=/OrderManaging/" />

<div class="container d-flex flex-column align-items-center">
    <h1 class="fw-bold text-center text-danger my-3">Order No @ViewBag.OrderId for Customer: @ViewBag.OrderCustomerName has been cancelled</h1>
    <h4 class="text-center fst-italic">You will be back to home page in the moment</h4>
    <img src="~/img/cancel.jpg" style="height: 400px; width: 500px; margin-top: 70px" />
</div>

